.other{
  width: 50%;
  margin: 30px auto;
}
.inp{
  display: flex;
  justify-content: space-between;
  h3{
    font-weight: 500;
    margin-right: 25px;
  }
  input{
    margin-top: 15px;
    width: 70%;
    height: 30px;
    outline: none;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    padding: 0 10px;
  }

  select{
    font-size: 20px;
    padding: 5px 5px;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    outline: none;
    width: 250px;
    margin: 30px 10px;
  }
}
.payBtn{
margin-top: 35px;
margin-bottom: 20px;
width: 250px;
border: 2px dashed #838383;
background-color: #6A6053;
color:white;
padding: 15px;
}
.payBtn:hover{
cursor: pointer;
}